body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
/* HEADER */

header {
    background-color: #D5BDAF;
    grid-area: header;
}

/* MAIN */

main {
    grid-area: main;
    background-color: #F5EBE0;
}

/* ASIDE */

aside {
    grid-area: aside;
    background-color: #E3D5CA;
}

/* FOOTER */

footer {
    grid-area: footer;
    background-color: #D5BDAF;
}