/* CUSTOM PROPERTIES */

:root {
    /* BG */
    --background-head-foot: #A5A5A5;
    --background-main: #F2F2F2;
    --background-aside: #E0E0E0;
    /* TEXT */
    --text-primary: #141414;
}

/* GLOBAL STYLES */

html {
    font-size: 62.5%;
  }

body {
    /* GRID */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
    /* FONT */
    color: var(--text-primary);
    font: 400 1.6rem "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: var(--background-head-foot);
    grid-area: header;
}

.header-nav {
    height: 10vh;
    /* FLEXBOX */
    display: flex;
    /* LAYOUT */
    /* UI */
    list-style-type: none;
}

.header-nav a {
    color: var(--text-primary);
    font-weight: 700;
    text-decoration: none;
}

img {
    height: 50px;
}

/* MAIN */

main {
    grid-area: main;
    background-color: var(--background-main);
    height: 60vh;
}

/* ASIDE */

aside {
    grid-area: aside;
    background-color: var(--background-aside);
    height: 60vh;
}

/* FOOTER */

footer {
    grid-area: footer;
    background-color: var(--background-head-foot);
    height: 30vh;
}